frontend http80
   bind *:3333
   timeout client 60s
   mode http
   acl glory path_beg -i /manutd
   use_backend manchoservers if glory

   default_backend allservers

backend manchoservers
  timeout connect 10s
  timeout server 10s
  mode http
  balance roundrobin
  server server2 127.0.0.1:8887
  server server3 127.0.0.1:8886

backend allservers
   timeout connect 10s
   timeout server 10s
   mode http
   balance source
   server server1 127.0.0.1:8888
   server server4 127.0.0.1:8885
   server server5 127.0.0.1:8884
